---
layout: page
title: Projects
permalink: /projects/
---

<br>

{% for project in site.data.projects %}
  {% assign key = project[0] %}
  {% assign value = project[1] %}

<div>
  <div style="float:left">
    <img src="{{ value.image }}" height="100px" width="100px" />
  </div>
  <div style="display: block; margin-left:120px">
    <h2>{{ value.title }}
      {% if value.status.label %}
        <span class="label label-{{ value.status.level }}" style="font-size: x-small">{{ value.status.label }}</span>
      {% endif %}
    </h2>
    <p class="post-meta">{{value.description}}.
    <br>
      <a href="{{key}}">more<a>
      {% if value.url %}
      | <a href="{{value.url}}">site</a>
      {% endif %}
      {% if value.source %}
      | <a href="{{value.source}}">source</a>
      {% endif %}
      {% if value.blog %}
      | <a href="{{value.blog}}">blog</a>
      {% endif %}
    </p>
  </div>
</div>
<br>

{% endfor %}

<!--<span class="label label-default">Default</span>-->
<!--<span class="label label-primary">Primary</span>-->
<!--<span class="label label-success">Success</span>-->
<!--<span class="label label-info">Info</span>-->
<!--<span class="label label-warning">Warning</span>-->
<!--<span class="label label-danger">Danger</span>-->
