---
layout: page
title: Projects
permalink: /projects/
---

<br>

{% for project in site.data.projects %}
  {% assign key = project[0] %}
  {% assign value = project[1] %}

<div>
  <div style="float:left">
    <img src="{{ value.image }}" height="100px" width="100px" />
  </div>
  <div style="display: block; margin-left:120px">
    <h2>{{ value.title }} </h2>
    <p class="post-meta">{{value.description}}.
    <br>
      <a href="{{key}}">more<a>
      {% if value.url %}
      | <a href="{{value.url}}">site</a>
      {% endif %}
      {% if value.source %}
      | <a href="{{value.source}}">source</a>
      {% endif %}
      {% if value.blog %}
      | <a href="{{value.blog}}">blog</a>
      {% endif %}
    </p>
  </div>
</div>
<br>

{% endfor %}
