---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>

    {% if page.url %}
      <a href="{{page.site}}">site</a>
    {% endif %}
    {% if page.source %}
      | <a href="{{page.source}}">source</a>
    {% endif %}
    {% if page.blog %}
      | <a href="{{page.blog}}">blog</a>
    {% endif %}

  <p>
    {{ content }}
  </p>

  <br><div class="kudos" data-amount="0" data-url="{{ page.url | prepend: site.url }}"></div><br>

  {% capture list %}
  <h3>Related posts:</h3>
  <ul>
  {% for post in site.posts %}
    {% if post.project == page.url %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endcapture %}

  {% assign length = list | size %}
  {% if length > 100 %}
    {{ list }}
  {% endif %}

</div>
